.bg-color{
    background-color: #FCEAE8;
}
.btn-color{
    background-color: #FF438E;
}
.bg-watch{
    background-color: #FFA500;
}
.bg-bag{
    background-color: #DA70D6;
}
.bg-shoe{
    background-color: #0000FF;
}
.catagories img{
    width: 100px;
}